# This repository is owned by the devops team
* @MaxxtonGroup/devops

# The following files are owned by the devops team
.github/ @MaxxtonGroup/devops
Dockerfile* @MaxxtonGroup/devops
deploy*.yaml @MaxxtonGroup/devops
deploy*.yml @MaxxtonGroup/devops
